Business Processes:

1-Book Management
•Track details about books.
•Manage inventory to track the number of copies available.

2-Member Management

•Maintain records of library members, including personal details like name, contact •information, and membership type.

3-Borrowing and Returning Books
•Enable members to borrow books and track due dates.

4-Staff Management

•Maintain staff details for administrators or librarians who manage the library.
